$degrade:linear-gradient(to right, rgb(138, 23, 167) , rgb(162, 131, 170));
$botao: white padding 20px center;

* {
    box-sizing:border-box;
}

body {
    margin: 0px;
    
}

.container {
    background-color:#CCC;
}
section {
    display:flex;
    margin-top: 10%;  
    justify-content: center;
    
    

    .welcome {
        display: flex;
        width: 400px;
        color: black;
        flex-direction: column;
        padding-right: 20px;
        margin-top: 48px;


        
        
        
        
        .header_welcome {
            text-align: center;

        }

           img {
            width: 35px;
            padding: 1px;
            

            }

        h1 {
            font-size: 40px;
            text-align: center;
            margin-top: 20px;
        }

        h5 {
            margin-top: -30px;
            font-size: 15px;
            text-align: center;
        }

        .formulario {
                        
        }

        .name2, .password2,  .remember{
            padding-bottom: 30px;
        }

        .name, .password, .remember {
            font-size: 15px;
        }

        .remember {
            
            padding-top: 20px;
            text-align: right;
        }

        a {
            text-decoration: none;
            color: #AAA;
            padding-right: 20px;
        }

        a:hover {
            text-decoration: underline;
            color: lightblue;
            cursor: pointer;
        }

        input {
            border:1px solid #DDD;
            padding: 5px;
            width: 100% ;
            flex-grow: 1;
            background-color: none;
            
            
        }

        input[type='text'] {
            background-image: url(../images/user.png);
            background-position: 15px 7px;
            background-size: 20px;
            background-position: right;
            background-repeat: no-repeat;
        }

        input[type='password'] {
            background-image: url(../images/pass.png);
            background-position: 15px 7px;
            background-size: 20px;
            background-position: right;
            background-repeat: no-repeat;
        }


            .welcome_b {
                padding-top: 20px;
            }
            
            bottom {
                background-color: rgb(55, 55, 255);
                font-size: 20px;
                padding: 10px;
                border-radius: 5px;
                color: white;  
                box-shadow: -4px 0px 30px -4px rgba(0,0,0,0.61);

            }

            bottom:hover {
                
                box-shadow: -4px 0px 30px 5px rgba(120,255,175,0.99);
                cursor: pointer;
            }


    }

    .account {
       width: 400px; 
       background-image: $degrade;
       text-align: center;
       color: white;
       

       img {
        width: 35px;
        margin-top: 20px;
        padding: 1px;
       }

       h1 {
           font-size: 45px;
           margin-top: 10px;
       }


       .formulario {
            
            
    }

    .name2, .password2,  .remember{
        padding-bottom: 30px;
        
    }

    .name, .password, .remember {
        font-size: 15px;
    }

    .name {
        text-align: left;
        padding-left: 40px;
    }
    

    a {
        text-decoration: none;
        color: #AAA;
        padding-right: 20px;
    }

    a:hover {
        text-decoration: underline;
        color: lightblue;
        cursor: pointer;
    }

    input {
        border:1px solid #DDD;
        padding: 5px;
        width: 80% ;
        flex-grow: 1;
        
    }

        .welcome_b {
            padding-top: 60px;
        }
        
        bottom {
            background-color: rgb(234, 234, 240);
            font-size: 20px;
            padding: 10px;
            border-radius: 5px;
            color: #AAA;  
            box-shadow: -4px 0px 30px -4px rgba(0,0,0,0.61);
            

        }

        bottom:hover {
            
            box-shadow: -4px 0px 30px 5px rgba(120,255,175,0.99);
            cursor: pointer;
        }

        input[type='text'] {
            background-image: url(../images/user.png);
            background-position: 15px 7px;
            background-size: 20px;
            background-position: right;
            background-repeat: no-repeat;
        }

        input[type='email'] {
            background-image: url(../images/email.png);
            background-position: 15px 7px;
            background-size: 20px;
            background-position: right;
            background-repeat: no-repeat;
        }

        input[type='password'] {
            background-image: url(../images/pass.png);
            background-position: 15px 7px;
            background-size: 20px;
            background-position: right;
            background-repeat: no-repeat;
        }


        .traco {
            border-bottom: 1px solid #EEE;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 60px;
        }

        .icon:hover {
            box-shadow: 5px 5px 15px 5px #FFFFFF;
            cursor: pointer;
        
        }

    }

}


